<h1>About this Project</h1>

<p>
  The
  <%= link_to "Oregon Department of Forestry", "https://www.oregon.gov/ODF/Pages/index.aspx" %>
  offers a dataset of recreational opportunities on state forestland,
  <%= link_to "available for download", "https://data.oregon.gov/Recreation/ODF-Recreational-Opportunities/ufw2-6prx/data" %>
  at data.oregon.gov.
</p>

<p>
  This project provides a filterable interface for the data. It's not
  affiliated with the Oregon Department of Forestry. It's based on data made
  available on February 22, 2019.
</p>

<p>
  It's a personal project for me,
  <%= link_to "Aaron Sumner", "https://aaronsumner.com" %>.
  I started it because I'm interested in using public data
  to provide benefit to my fellow citizens of Oregon and of Clatsop County.
  Many of the recreational opportunities in this dataset are convenient to
  my home, and I wanted an easy way to sift through them to find things to do.
  It also gives me a chance to experiment with technologies I don't normally
  get to use at my day job.
</p>

<p>
  The project is open source; feel free to
  <%= link_to "check out the code on GitHub", "https://github.com/ruralocity/odf_recreation" %>.
  Refer to
  <%= link_to "the project's issue tracker", "https://github.com/ruralocity/odf_recreation/issues" %>
  for future development possibilities.
</p>

<p>
  The Oregon Department of Forestry provides
  <%= link_to "visualizations of recreational activity information", "https://data.oregon.gov/Recreation/ODF-Recreational-Opportunities/ufw2-6prx" %>,
  too, if you're interested in other ways to look at the data.
</p>

<%= link_to "Home", root_path, class: "btn btn-primary", role: "button" %>
