<div class="card mt-3 mb-3">
  <div class="card-body">
    <h2 class="card-title"><%= opportunity.name %></h2>
    <div class="card-subtitle text-muted">
      <%= opportunity.state_forest.name %> State Forest |
      <%= opportunity.description %>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-md-4">
          <h4>Overview</h4>
          <dl>
            <dt>Recreation types</dt>
            <dd><%= opportunity.types.pluck(:name).join(", ") %></dd>
            <dt>Season</dt>
            <dd><%= opportunity.season %></dd>
            <dt>Amenities</dt>
            <dd><%= list_amenities(opportunity.amenities) %></dd>
          </dl>
        </div>

        <div class="col-md-4">
          <h4>Camping information</h4>
          <dl>
            <dt>Number of sites</dt>
            <dd><%= opportunity.number_of_sites %></dd>
            <dt>Overnight fee</dt>
            <dd><%= opportunity.overnight_fee %></dd>
          </dl>
        </div>

        <div class="col-md-4">
          <h4>Contact</h4>
          <dl>
            <dt>District</dt>
            <dd><%= opportunity.district.name %></dd>
            <dt>Phone</dt>
            <dd><%= opportunity.contact_number %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
